.spyral-jv-container {
    color: #000;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	font-size: 12px;
    overflow: auto;
}

.spyral-jv-folder {
    cursor: pointer;
}

.spyral-jv-type, .spyral-jv-length {
	color: #555;
}

.spyral-jv-folder-icon {
	margin-right: 6px;
	cursor: pointer;
    text-align: center;
    height: 8px;
	width: 8px;
}

.spyral-jv-content {
    line-height: 24px;
    padding-left: 20px;
    position: relative;
	display: inline-block;
}
.spyral-jv-expanded > .spyral-jv-content {
	display: block;
}
.spyral-jv-collapsed > .spyral-jv-content {
	padding-left: 10px;
}
.spyral-jv-collapsed > .spyral-jv-content:first-of-type {
    padding-left: 0px;
}
.spyral-jv-collapsed > .spyral-jv-content:not(.spyral-jv-content:last-of-type)::after {
	content: ',';
}


.spyral-jv-left, .spyral-jv-right {
    display: inline-block;
}

.spyral-jv-String, .spyral-jv-Boolean, .spyral-jv-Number, .spyral-jv-Element, .spyral-jv-Null, .spyral-jv-Undefined {
    color: #1A1AA6;
}

.spyral-jv-Object, .spyral-jv-Array {
    display: inline;
	white-space: nowrap;
}
.spyral-jv-expanded.spyral-jv-Object, .spyral-jv-expanded.spyral-jv-Array {
	display: block;
}

.spyral-jv-expanded svg.open {
	display: inline-block;
}
.spyral-jv-expanded svg.closed {
	display: none;
}
.spyral-jv-collapsed svg.open {
	display: none;
}
.spyral-jv-collapsed svg.closed {
	display: inline-block;
}

.spyral-jv-collapsed .spyral-jv-folder .spyral-jv-folder-icon, .spyral-jv-collapsed .spyral-jv-folder+.spyral-jv-right {
	display: none;
}

.spyral-jv-expanded + .spyral-jv-type {
	display: none;
}