.notebook-code-editor {
	padding: 0px;
	margin: 0px;
}
.notebook-text-editor {
	padding: 6px;
	margin: 0px;
}
.notebook-text-editor p {
	padding: 0 0 0 0;
	margin: 0 0 1em 0;
}
.notebook-text-wrapper .x-panel-body {
   border: 1px solid rgba(0,0,0,0) !important;
}
.notebook-code-wrapper .x-panel-body, .notebook-data-wrapper .x-panel-body {
   border: 1px solid rgba(0,0,0,0) !important;
}
.x-panel .notebook-editor-wrapper-hover.x-panel-body, .editable .x-panel-body {
	outline: 1px dashed rgba(0,0,0,.2) !important;
	outline-offset: -1px !important;
}
.x-panel .notebook-editor-wrapper-editing.x-panel-body {
	outline: 1px solid rgba(0,0,0,.2) !important;
	outline-offset: -1px !important;
}
.notebook-code-editor {
	border-left: 1px solid rgb(240, 240, 240);
}
.notebook-code-editor .spyral-editor-error {
	background-color: rgba(194, 50, 65, .3) !important;
}
.notebook-code-results, .notebook-data-input {
	background-color: rgb(252, 252, 252);
	border-left: 3px solid rgb(240, 240, 240);
}
.notebook-code-results.error {
	border-left-color: rgba(194, 50, 65, .5);
}
.notebook-code-results.success {
	/* border-left-color: rgba(30, 189, 66, .5); */
	border-left-color: rgba(23, 145, 232, .5);
}
.notebook-code-results.warning, .x-btn.warning {
	border-left-color: rgba(232, 147, 23, .5);
}

.notebook-code-editor-raw { /* used for raw code in saved view */
	display: none;
}
.cke_button__sourcedialog_label {
	display: none !important;
}

body.exported-notebook {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 13px;
}
.exported-notebook header, .exported-notebook section {
	margin: 10px auto;
	max-width: 1100px;
}

.exported-notebook .notebookwrappercounter {
	float: right;
}
.exported-notebook .notebookwrappercounter a {
	text-decoration: none;
}

.notebookwrappercounter a {
	border-radius: 3px;
	background-color: #f5f5f5;
	text-align: right;
	border: 1px solid #d8d8d8;
	padding: 1px;
	margin: 1px;
	font-size: smaller;
}

.spyral-code-mask .x-mask-msg-text { /* reposition loading gif to the left side */
	padding: 0 0 0 21px;
	background-position: 0;
}

.spyral-header, .spyral-footer {
	text-align: center;
}

.spyral-header .title {
	font-size: 2em;
	font-weight: bold;
	display: block;
	margin: 0.67em 0;
}

.catalogue .facets .x-panel-header {
	cursor: pointer;
}


.notebook-code-editor-raw {
	display: none;
}
.notebookcodeeditorwrapper .collapsed {
	overflow: auto;
	max-height: 120px;
}

.notebook-code-results .collapsed {
	overflow: auto;
}

.catalogue-notebook {
	margin: 0px;
	padding: 10px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 18px;
}
.catalogue-notebook-over {
	background-color: #eee;
	cursor: pointer;
}
.catalogue-notebook-over .id {
	visibility: visible !important;
}
.catalogue-notebook-selected {
	background-color: #ddd;
	border: 1px solid #aaa;
}
.catalogue-notebook > div {
	margin: 0px 0px 3px 0px;
}
.catalogue-notebook .id {
	float: right;
	color: #666;
	font-size: 9px;
	line-height: 9px;
	visibility: hidden;
}
.catalogue-notebook .title {
	color: #333;
	font-weight: 600;
}
.catalogue-notebook .published {
	color: #157fcc;
	margin-right: 2px;
}
.catalogue-window .catalogue-notebook .published {
	display: none;
}
.catalogue-notebook .author, .catalogue-notebook .keywords, .catalogue-notebook .date {
	color: #666;
	font-size: 11px;
}
.catalogue-notebook .keywords span {
	font-size: 9px;
	background-color: #eee;
	padding: 3px 5px;
	border-radius: 3px;
	margin-right: 5px;
}
.catalogue-notebook .nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tern-doc {
	display: block;
}
.tern-doc-url {
	display: block;
}
.docsWindowContent .x-panel-body > div {
	padding: 6px 8px;
}
.docsWindowContent .members {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
}
.docsWindowContent .member {
	padding: 6px 18px 0 0;
}
.docsWindowContent a.side.expandable, .docsWindowContent .title .meta, .docsWindowContent .members-title, .docsWindowContent .members-subtitle, .docsWindowContent .definedBy {
	display: none;
}
.docsWindowContent h3 {
	font-size: 14px;
}
.docsWindowContent .title {
	font-size: 16px;
}
.docsWindowContent .title .new-keyword {
	margin-right: 5px;
}
.docsWindowContent .title .name {
	font-weight: bold;
}
.docsWindowContent .members .static, .docsWindowContent .title .signature span {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	background-color: #484848;
	border-radius: 2px;
	padding: 0 6px;
}
.docsWindowContent .members .static {
	margin-right: 6px;
}
.docsWindowContent .title .signature span {
	margin-left: 6px;
}
.docsWindowContent .description .short {
	display: none;
}
.docsWindowContent pre {
	white-space: pre-wrap;
	background-color: #f7f7f7;
	padding: 4px 8px;
}
.docsWindowContent .pre {
	font-family: monospace;
}

.docsWindowContent strong {
	font-weight: 700;
}


/* styles ported from tui */
.docsWindowContent h1, .docsWindowContent h2, .docsWindowContent h3, .docsWindowContent h4, .docsWindowContent h5, .docsWindowContent h6 {
	margin: 10px 0;
}

.docsWindowContent article ol,
.docsWindowContent article ul {
	margin-left: 15px;
}

.docsWindowContent section header {
	padding-top: 0;
}
.docsWindowContent section header h2 {
	font-size:18px;
	font-weight:bold;
}
.docsWindowContent section article {
	padding: 0px;
}
.docsWindowContent section article p {
	margin: 0px;
}
.docsWindowContent section article .container-overview {
	padding: 10px;
	border: 1px solid #dedede;
	border-radius: 7px;
}
.docsWindowContent section article h3.subsection-title {
	font-size:16px;
	color: #bf1b2c;
	border-bottom: 1px solid #dedede;
}
.docsWindowContent section article dl {
	margin: 0px;
}
.docsWindowContent section article dl h4 {
	font-size: 14px;
	font-weight: bold;
}
.docsWindowContent section article dl h4 .signature {
}
.docsWindowContent section article dl h4 .type-signature {
	color: #3893D4;
	font-weight: normal;
}
.docsWindowContent section article dl dt .name {
	padding: 3px 10px;
	margin: 6px 0;
	background-color: #f4f7f8;
}
.docsWindowContent section article dl dd {
	padding: 0px 0px 0px 20px;
	margin-left: 0px;
}
.docsWindowContent section article dl dd h5 {
	font-weight: bold;
}
.docsWindowContent section article .container-source {
	margin: -15px -15px 3px 0;
	font-weight: normal;
	font-size: 8pt;
	text-align: right;
	padding-right: 10px;
}
.docsWindowContent section article .container-params,
.docsWindowContent section article .container-returns,
.docsWindowContent section article table td.description {
	clear: left;
} 
.docsWindowContent section article .container-returns {
	margin-bottom: 7px;
}
.docsWindowContent section article .container-returns span,
.docsWindowContent section article .container-params table {
	border-left: 3px solid #eee;
	margin-left: 7px;
	padding-left: 3px;
	margin-bottom: 5px;
}
.docsWindowContent section article .container-returns p {
	display: inline;
}
.docsWindowContent section article .container-properties h5,
.docsWindowContent section article .container-returns h5,
.docsWindowContent section article .container-params h5,
.docsWindowContent section article table th,
.docsWindowContent section article table td.type,
.docsWindowContent section article table td.attributes {
	font-size: 90%;
}
.docsWindowContent section article table,
.docsWindowContent section article table th,
.docsWindowContent section article table td {
	vertical-align: top;
	border: 0;
	padding: 6px 3px;
	text-align: left;
	float: left;
}
.docsWindowContent section article table th {
	display: none;
}
.docsWindowContent section article table td.name,
.docsWindowContent section article table td.type,
.docsWindowContent section article table td.attributes,
.docsWindowContent section article table td.default {
	min-width: 80px;
	font-size: 14px;
	font-weight: bold;
}
.docsWindowContent section article table td.description {
	margin: 0 0 12px 12px;
}
.docsWindowContent section article table td.type,
.docsWindowContent section article table td.attributes {
	color: #aaa;
}
.docsWindowContent section article table td p {
	padding: 0;
	margin: 0;
}
.docsWindowContent section article table td h6 {
	padding: 0 0 0 3px;
	margin: 3px 0 0 3px;
	font-size: 85%;
}
.docsWindowContent section article .container-properties table.props {
	margin-top: -3px;
}
.docsWindowContent .main-content article {
	padding:0;
}
.docsWindowContent .container-overview,
.docsWindowContent .main-detail {
	overflow: hidden;
}
.docsWindowContent .main-detail .tag-source {
	float:left;
	display:none;
}
.docsWindowContent .main-detail .tag-author {
	float:left;
}
.docsWindowContent .main-detail .tag-author a {
	color:#181818;
	font-size:11px;
	text-decoration:none;
}
.docsWindowContent span.param-type {
    color: #aaa;
}
.docsWindowContent pre.prettyprint {
    font-size: 0.9em;
    border-radius: 0;
}
span.icon {
    font-size: 8pt;
    border-radius: 3px;
    padding: 1px 2px;
}
span.icon.green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
span.icon.blue {
    color: #3893D4;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
span.icon.yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
span.icon.red {
    color: #A94443;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.docsWindowContent span.arrow {
    font-size: 8pt;
    padding-right: 5px;
}