#constellationGraph .node {
	cursor: pointer;
	stroke: rgb(107, 174, 214);
	stroke-width: 1px;
	fill: hsl(209, 56%, 86%);
}

#constellationGraph .node.selected {
  fill: rgb(147, 214, 107);
}

#constellationGraph .link {
	stroke: rgb(0, 0, 0);
	stroke-opacity: 0.1;
	stroke-width: 1px;
}

#constellationGraph text.label {
	font-size: 16px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
