name: Build Docs

on:
  push:
      branches:
        - master
      paths:
        - src/main/webapp/app/panel/**
        - src/main/webapp/resources/spyral/**
        - src/main/webapp/resources/docs/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: voyanttools/voyantjs
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      # required to install dependencies on github
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      
      - name: Node install
        run: npm ci
        working-directory: src/main/webapp/resources/docs
        
      - name: Build Docs
        run: npm run-script build-docs
        working-directory: src/main/webapp/resources/docs
        
      - name: Commit JS files
        run: |
          git config --global user.name 'Voyant Tools'
          git config --global user.email 'voyanttools@users.noreply.github.com'
          git add src/main/webapp/docs
          git commit -m "chore: add documentation build files"
          git push
